.main h1 {
color: white;
}

.main {
background-color: darkgray;
background-size: cover;
text-align: center;
height: 100vh; 
width: 100vw;
}

.btn {
    text-align: center;
    color: cyan
    border: 2px solid cyan;
    background-color: darkgray
    padding: 15px 25px 15px 25px;
}

